.lemonEater
{
	font-family:"Lucida Console", Monospace;
	background-color:#000000;
	color:#ffffff;
	margin:1ex;
	padding:1ex;
}
.lemonEater .lemon-background
{
	background-color:#222222;
	margin:0ex;
	padding:0ex;
}
.lemonEater .lemon-eater-head
{
	background-color:#22ff33;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-eater-body
{
	background-color:#11cc22;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-eater-death
{
	background-color:#ee0022;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-lemon
{
	background-color:#ffff33;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-1
{
	background-color:#ff3333;
	margin:0ex;
	padding:0ex;
}

.lemonEater input
{
	font-family:"Lucida Console", Monospace;
	background-color:#000000;
	outline:#000000,none,thin;
	border:none;
	color:#222222;
	width:106.9ex;
	height:2ex;
}