.lemonEater
{
	font-family:"Lucida Console", monospace;
	background-color:#000000;
	color:#ffffff;
	margin:1ex;
	padding:1ex;
}
.lemonEater .lemon-background
{
	background-color:#222222;
	margin:0ex;
	padding:0ex;
}
.lemonEater .lemon-eater-head
{
	background-color:#22ff33;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-eater-body
{
	background-color:#11cc22;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-eater-death
{
	background-color:#ee0022;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-lemon
{
	background-color:#ffff33;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-1
{
	background-color:#4444ff;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-2
{
	background-color:#3333dd;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-3
{
	background-color:#2222bb;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-4
{
	background-color:#222299;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-5
{
	background-color:#111177;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-6
{
	background-color:#111155;
	margin:0ex;
	padding:0ex;
}

.lemonEater .lemon-wall-7
{
	background-color:#000033;
	margin:0ex;
	padding:0ex;
}

.lemonEater input
{
	font-family:"Lucida Console", monospace;
	background-color:#000000;
	outline:#000000,none,thin;
	border:none;
	color:#222222;
	width:106.9ex;
	height:2ex;
}